/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* CUSTOM CSS HERE */

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;1,300;1,400&display=swap');

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .container * {
  border: 1px solid black;
} */

.container {
  border: 1px solid black;
  padding: 2%;
  border-radius: 20px;
  background: rgb(82,126,147);
  background: linear-gradient(180deg, rgba(82,126,147,1) 0%, rgba(88,163,198,1) 35%, rgba(0,191,255,1) 100%);
  
  display: flex;
  flex-direction: column;
  height: 25vh;
  max-width: 30vw;
  min-width: 600px;
  min-height: 250px;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
}

.current, .forecast {
  flex: 1;  
}

.current {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.2fr 4fr;
  grid-template-rows: 1fr 1fr 0.5fr;
}

.currentIcon {
  grid-area: 1 / 1 / 4 / 2;  
}

.imgIcon {
  object-fit: contain;
  width: 100%;
  min-width: 88px;
}

.currentTemp {
  grid-area: 1 / 2 /4 / 3;
  font-size: 4rem;
}

.unit {
  display: flex;
  padding: 5px;
}

.unit button {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.idleUnit {
  color: rgb(90, 90, 90);
}

.currentIcon, .currentTemp {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
}

.currentCity {
  grid-area: 1 / 4 / 2 / 5;
  display: flex;
  justify-content: flex-end;
  font-size: 1.5em;
  font-weight: 300;
}

.currentText {
  grid-area: 2 / 4 / 3 / 5;
  display: flex;
  justify-content: flex-end;
  font-size: 1.2em;
}

.forecast {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.first, .second, .third {
  width: 15%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 3fr;
}

.forecastTemp {
  display: flex;
  justify-content: space-between;
  padding: 0 10% 0 10%;
}

.minTemp {
  color: rgb(78, 78, 78);
}

.forecastDay {
  display: flex;
  justify-content: center;
}

.forecastIcon {
  display: flex;
  justify-content: center;
}